@import "tailwindcss";

.table-columns{
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  gap: 4em;
}
header{
  padding: 1.5em;
}
main{
  margin-top: 30vh;
}
/* @theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}  */
