/* @import "tailwindcss"; */
@import "tailwindcss";

header {
  padding: 1.5em;
}
main {
  margin-top: 30vh;
  margin-left: 20vw;
  margin-right: 20vw;
}
select{
  background-color: white;
  border-radius: 0.5rem;
  margin-left: 0.5rem;  
  padding: 0.5rem;
}
/* @theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}  */
